TOKEN=WHYugARKzum-jHvzCk5-C558EKPaYEECz5k8fDZayIaFiZHRKqy9kaQn
CHAT_ID=11111111
USERNAME=uXXXXXXX
PASSWORD=c0ntr4ss3ny4
SECRET_KEY=WHYugARKzum-jHvzCk5-C558EKPaYEECz5k8fDZayIaFiZHRKqy9kaQn&period=30&digits=6
SHARED_COOKIE_DIR=/dir/to/cookie/
